{% extends "layout.html" %}

{% block content %}
<div>
    <div class="container">
        <div style="margin: 10px">
            <a class="btn btn-success" href="/movie/add" target="_blank">
                <i class="bi bi-plus-circle-fill"></i>
                添加影片
            </a>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
                <i class="bi bi-calendar2-event-fill"></i>
                <strong>影片列表</strong>
            </li>
            <li class="list-group-item">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">编号</th>
                            <th scope="col">名称</th>
                            <th scope="col">类型</th>
                            <th scope="col">时长(分钟)</th>
                            <th scope="col">导演</th>
                            <th scope="col">演员阵容</th>
                            <th scope="col">上映日期</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in queryset %}
                        <tr>
                            <th scope="row">{{ obj.movie_id }}</th>
                            <td>{{ obj.title }}</td>
                            <td>{{ obj.genre }}</td>
                            <td>{{ obj.duration }}</td>
                            <td>{{ obj.director }}</td>
                            <td>{{ obj.cast }}</td>
                            <td>{{ obj.release_date }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/movie/{{ obj.movie_id }}/edit">编辑</a>
                                <a class="btn btn-danger btn-sm" href="/movie/delete/?nid={{ obj.movie_id }}">删除</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">暂无影片数据</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
